.task-list {
  list-style: none;
}

.task-item {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 10px;
}

.task-item * {
  margin: 0 4px;
}

.done {
  opacity: 0.5;
}
